body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.caroussel {
    position: relative;
    margin: 3rem 4rem 0;    
}


.caroussel__item {
    padding: 4rem;
    display: none; 
    background-image: url("/frontend-mentor/coding-bootcamp-testimonials-slider-master/images/pattern-bg.svg");
    background-size: 650px;
    background-repeat: no-repeat;  
    background-position: right;
    
}

.caroussel__item--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.caroussel__text {
    background-image: url("/frontend-mentor/coding-bootcamp-testimonials-slider-master/images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 10rem;
}
.caroussel__text :first-child{
    color:hsl(240, 38%, 20%);
    font-size:32px;
    font-weight: 300;
    transform: translateX(2.5rem);
    line-height: 3rem;
    
}

.caroussel__text :nth-child(2){
    transform: translateX(2.5rem);
    font-weight: 700;
    font-size: 16px;
}

.caroussel__text :nth-child(2) span {
    color: hsl(240, 18%, 77%);
    font-size: 16px;
}

.caroussel__img {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    
}


.caroussel__item--selected {
    display: block;
}

.caroussel__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /* bottom: 0; */
    top: 86%;
    left: 60%;
    background: white;
    border-radius: 25px;
    width: 80px;
    padding: 15px 10px;
    transform: translateX(100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.caroussel__button {
    cursor: pointer;
    width: 15px;
    height: 20px;
}

.caroussel__button--next {
    content: '';
    background-image: url("/frontend-mentor/coding-bootcamp-testimonials-slider-master/images/icon-next.svg");
    background-repeat: no-repeat ;  
    
   
}

.caroussel__button--previous {
    content: '';
    background-image: url("/frontend-mentor/coding-bootcamp-testimonials-slider-master/images/icon-prev.svg");
    background-repeat: no-repeat ; 
   
}
.decorative__footer {
    background-image: url("/frontend-mentor/coding-bootcamp-testimonials-slider-master/images/pattern-curve.svg");
    background-size: 100% ;
    height: 25vw;
    background-repeat: no-repeat ;
    
}

@media screen and (max-width: 480px) {

    .caroussel {
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0
    }

    .caroussel__item {
        margin: 0;
        padding: 1rem;
        background-size: 300px;
        background-position: top;
    }
    .caroussel__item--wrapper {
        flex-direction: column-reverse;

    }
    .caroussel__text {
        background-size: 4rem;
        background-position-x: center;
        margin-top: 4rem;
    }
    .caroussel__text :first-child {
        font-size: 16px;
        line-height: 2rem;
        transform: translateX(0);
        text-align: center;
    }

    .caroussel__text :nth-child(2) {
        text-align: center;
        transform: translateX(0);
    }
    .caroussel__text :nth-child(2) span {
        display: inline-block;
        width: 100%;
        text-align: center;
        transform: translateX(0);
    }


    .caroussel__img {
        height: 250px;
        width: 250px;
        
    }

    .caroussel__nav {
        top: 255px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 2px;
    }

    
    .decorative__footer {
        background-position: bottom;
    }


}