* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 50%; 
    height: fit-content;
    
}

article {
    display: flex;
    width: 100%;
    height: inherit;
   
}

img {
    width: 50%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.text__content {
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}

h1 {
    font-family: "Fraunces";
    font-size: 2.5rem;
    /* margin-top: 1.5rem; */
}

.text__description {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1rem;
   
}

.text__price {
    color: hsl(160, 43%, 31%);
    font-family: "Fraunces";
    font-size: 2.5em;
  
}

.text__price span {
    font-size: 1rem;
    display: inline-block;
    text-align:center;
    text-decoration: line-through;
    margin-left: 1rem;
    color: hsl(228, 12%, 48%);
    font-weight:lighter;
}

button {
    /* margin-top: 1.5rem; */
    width: 100%;
    font-size: 1rem;
    background-color: hsl(160, 43%, 31%);
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    background-image: url("/frontend-mentor/product-preview-card-component-main/images/icon-cart.svg");
    background-repeat: no-repeat;
    background-position:left 60px bottom 50%;
    font-family: "Montserrat";
}

button:hover {
    cursor: pointer;
    background-color: hsl(161, 45%, 14%)
}
.attribution {
    width: 90%;
    position: absolute;
    bottom: 0;
    color:hsl(228, 12%, 48%);;
}

.attribution a {
    color:  hsl(160, 43%, 31%);
}


@media screen and (max-width: 480px) {
    body {
        justify-content:flex-start;
    }
    main {
        width: 90%;
        margin: 2rem;
    }
    article {
        flex-direction: column;
        width: 100%;
    }

    img {
        width:100%;
        height: 15rem;
        object-fit: cover;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }
    .text__content {
        height: 25rem;
        padding: 2rem 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }
    h1 {
        font-size: 1.5rem;
    }

    .attribution {
        font-size: 0.5rem;
    }
}